.maintitle{

    font-weight: 600;
    margin: 0 2rem;
    margin-bottom: 2.5rem;
}
.title{
    font-weight: 600;
    margin: 0 2rem;
    margin-top: 2.5rem;

}


.formsec{
    width:100%;

}
.form{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    align-items: center;
justify-content: center;
    width:80%;
    height: 12rem;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 26, 255, 0.174);
    padding: 2rem 2rem;
    border-radius: 1rem;
}
.inputs{
    display: flex;
}
.dropdown{
    height: 40px;
    width: 15rem;
    border: none;
    outline:none;
    margin: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 40px;
    padding: 0 1rem;
}

.tablesec{
    width:100vw;
    
}
.table{
    margin: 0 auto;
    width:70vw; 
  margin-top: 3rem;
}
.headingsec,.valuessec{
    display: flex;


}
.valuessec{
    margin-top: 2rem;
    flex-direction: column;
}
.headingsec{
    font-weight: 600;
    color:rgba(0, 0, 0, 0.5)
}
.heading,.value{
    width:200px
}
.values{
    display: flex;
    width:100%;
    margin-top: 1rem;
}
